In [1]:
import pandas as pd
pd.set_option('display.precision', 3)

import json
import numpy as np
import statistics

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

from ipynb.fs.full.graphics import draw_multiple_plots

In [2]:
def get_performance_metrics(filepath):
    with open(filepath) as file:
        contents = file.read()
    parsed_json = json.loads(contents)
    f1 = parsed_json['accuracy_metrics']['f1']
    avg_explanation_time = parsed_json['average_explanation_time']
    return f1, avg_explanation_time

def create_result_dict(result_folder, timeseries, nslide_used=2):
    res = dict()
    res['dataset'] = list()
    res['f1_score'] = list()
    res['avg_exp_time'] = list()
    for dataset in timeseries:
        filepath = f'{result_folder}/timeseries{dataset}/performance_timeseries{dataset}_{nslide_used}.json'
        f1, avg_explanation_time = get_performance_metrics(filepath)
        res['dataset'].append(dataset)
        res['f1_score'].append(f1)
        res['avg_exp_time'].append(avg_explanation_time)
    return res

In [3]:
bfolder = 'I'
timeseries = [i for i in range(1, 29)]
timeseries.remove(4)
timeseries.remove(13)
timeseries.remove(14)
timeseries.remove(22)
summary = {}
summary_time = {}
f1_data = {}

## CloudRanger

In [4]:
alg = 'cloudranger'
result_folder = f'../{alg}/result/fmri/{bfolder}'  
result = create_result_dict(result_folder, timeseries)
cloudranger_df = pd.DataFrame(result)
cloudranger_df

    dataset  f1_score  avg_exp_time
0         1     0.000         0.762
1         2     0.111         2.008
2         3     0.222         4.424
3         5     0.259         0.920
4         6     0.130         2.453
5         7     0.222         0.929
6         8     0.000         0.767
7         9     0.196         0.968
8        10     0.222         0.838
9        11     0.000         1.939
10       12     0.222         2.776
11       15     0.222         0.805
12       16     0.111         0.877
13       17     0.111         2.007
14       18     0.333         0.905
15       19     0.167         0.956
16       20     0.185         0.893
17       21     0.222         0.741
18       23     0.333         0.746
19       24     0.222         0.787
20       25     0.222         0.386
21       26     0.000         0.141
22       27     0.000         0.141
23       28     0.444         0.396

In [5]:
cloudranger_f1_sem = np.std(cloudranger_df['f1_score'], ddof=1) / np.sqrt(len(cloudranger_df['f1_score']))
cloudranger_avg_exp_time_sem = np.std(cloudranger_df['avg_exp_time'], ddof=1) / np.sqrt(len(cloudranger_df['avg_exp_time']))
summary['cloudranger'] = np.mean(cloudranger_df['f1_score'])
summary_time['cloudranger'] = np.mean(cloudranger_df['avg_exp_time'])
f1_data['cloudranger'] = cloudranger_df['f1_score'].values

## DyCause

In [6]:
alg = 'dycause'
result_folder = f'../{alg}/result/fmri/{bfolder}'  
result = create_result_dict(result_folder, timeseries)
dycause_df = pd.DataFrame(result)
dycause_df

    dataset  f1_score  avg_exp_time
0         1       0.0         0.014
1         2       0.0         0.031
2         3       0.0         0.057
3         5       0.0         0.015
4         6       0.0         0.042
5         7       0.0         0.013
6         8       0.0         0.013
7         9       0.0         0.013
8        10       0.0         0.013
9        11       0.0         0.028
10       12       0.0         0.028
11       15       0.0         0.014
12       16       0.0         0.015
13       17       0.0         0.028
14       18       0.0         0.017
15       19       0.0         0.013
16       20       0.0         0.014
17       21       0.0         0.012
18       23       0.0         0.013
19       24       0.0         0.013
20       25       0.0         0.007
21       26       0.0         0.003
22       27       0.0         0.003
23       28       0.0         0.007

In [7]:
dycause_f1_sem = np.std(dycause_df['f1_score'], ddof=1) / np.sqrt(len(dycause_df['f1_score']))
dycause_avg_exp_time_sem = np.std(dycause_df['avg_exp_time'], ddof=1) / np.sqrt(len(dycause_df['avg_exp_time']))
summary['dycause'] = np.mean(dycause_df['f1_score'])
summary_time['dycause'] = np.mean(dycause_df['avg_exp_time'])
f1_data['dycause'] = dycause_df['f1_score'].values

## EasyRCA

In [8]:
alg = 'easy_rca'
result_folder = f'../{alg}/result/fmri/{bfolder}'  
result = create_result_dict(result_folder, timeseries)
easyrca_df = pd.DataFrame(result)
easyrca_df

    dataset  f1_score  avg_exp_time
0         1     0.400         0.344
1         2     0.250         3.898
2         3     0.192         2.823
3         5     0.398         5.831
4         6     0.246        13.988
5         7     0.399         6.355
6         8     0.400         0.997
7         9     0.398         7.475
8        10     0.400         1.993
9        11     0.250         4.860
10       12     0.250         3.972
11       15     0.400         2.760
12       16     0.296         2.415
13       17     0.250         3.218
14       18     0.400         0.828
15       19     0.400         8.264
16       20     0.400         8.589
17       21     0.400         0.704
18       23     0.400         1.695
19       24     0.385         1.990
20       25     0.400         0.126
21       26     0.400         0.033
22       27     0.400         0.016
23       28     0.400         0.294

In [9]:
easyrca_f1_sem = np.std(easyrca_df['f1_score'], ddof=1) / np.sqrt(len(easyrca_df['f1_score']))
easyrca_avg_exp_time_sem = np.std(easyrca_df['avg_exp_time'], ddof=1) / np.sqrt(len(easyrca_df['avg_exp_time']))
summary['easyrca'] = np.mean(easyrca_df['f1_score'])
summary_time['easyrca'] = np.mean(easyrca_df['avg_exp_time'])
f1_data['easyrca'] = easyrca_df['f1_score'].values

## CausalRCA

In [10]:
alg = 'gcm'
result_folder = f'../{alg}/result/fmri/{bfolder}'  
result = create_result_dict(result_folder, timeseries)
causalrca_df = pd.DataFrame(result)
causalrca_df

    dataset  f1_score  avg_exp_time
0         1     0.833         2.794
1         2     0.667        17.296
2         3     0.000        71.408
3         5     0.667         2.150
4         6     0.389        18.253
5         7     0.780         2.206
6         8     1.000         2.869
7         9     0.720         2.229
8        10     0.667         3.272
9        11     0.333        19.070
10       12     0.167        18.506
11       15     0.833         2.970
12       16     0.667         2.909
13       17     0.167        17.877
14       18     0.500         2.954
15       19     0.736         2.038
16       20     0.542         2.134
17       21     0.667         2.977
18       23     1.000         2.916
19       24     0.833         3.175
20       25     0.667         4.248
21       26     1.000         9.143
22       27     0.000         9.078
23       28     1.000         4.242

In [11]:
causalrca_f1_sem = np.std(causalrca_df['f1_score'], ddof=1) / np.sqrt(len(causalrca_df['f1_score']))
causalrca_avg_exp_time_sem = np.std(causalrca_df['avg_exp_time'], ddof=1) / np.sqrt(len(causalrca_df['avg_exp_time']))
summary['causalrca'] = np.mean(causalrca_df['f1_score'])
summary_time['causalrca'] = np.mean(causalrca_df['avg_exp_time'])
f1_data['causalrca'] = causalrca_df['f1_score'].values

## Ocular

In [12]:
alg = 'ocular'
result_folder = f'../{alg}/result/fmri/{bfolder}'  
result = create_result_dict(result_folder, timeseries)
ocular_df = pd.DataFrame(result)
ocular_df

    dataset  f1_score  avg_exp_time
0         1     0.833         0.869
1         2     0.667         3.796
2         3     0.333        24.276
3         5     0.444         0.438
4         6     0.889         4.354
5         7     0.953         0.353
6         8     1.000         0.823
7         9     0.580         0.346
8        10     0.667         0.902
9        11     0.833         4.492
10       12     0.333         6.261
11       15     0.500         1.138
12       16     0.667         1.094
13       17     1.000         5.398
14       18     0.500         1.082
15       19     0.639         0.419
16       20     0.625         0.388
17       21     0.667         0.802
18       23     1.000         0.816
19       24     0.333         1.294
20       25     0.667         2.222
21       26     1.000         7.115
22       27     1.000         3.719
23       28     1.000         1.314

In [13]:
ocular_f1_sem = np.std(ocular_df['f1_score'], ddof=1) / np.sqrt(len(ocular_df['f1_score']))
ocular_avg_exp_time_sem = np.std(ocular_df['avg_exp_time'], ddof=1) / np.sqrt(len(ocular_df['avg_exp_time']))
summary['ocular'] = np.mean(ocular_df['f1_score'])
summary_time['ocular'] = np.mean(ocular_df['avg_exp_time'])
f1_data['ocular'] = ocular_df['f1_score'].values

## fMRI Result

In [14]:
result= {}
result['avg_f1_score'] = summary
result['avg_exp_time'] = summary_time
result_filepath = f'fmri_{bfolder}.json'
with open(result_filepath, "w") as outfile:
    json.dump(result, outfile, indent = 4)
pd.DataFrame.from_dict(result)

             avg_f1_score  avg_exp_time
cloudranger         0.173         1.190
dycause             0.000         0.018
easyrca             0.355         3.478
causalrca           0.618         9.446
ocular              0.714         3.071

## Perform one-way ANOVA on F1 Score

In [15]:
f_statistic, p_value = f_oneway(f1_data['cloudranger'], 
                                f1_data['dycause'], 
                                f1_data['easyrca'],
                                f1_data['causalrca'],
                                f1_data['ocular'])

alpha = 0.05
print(f"F-statistic: {f_statistic:.2f}")
print(f"P-value: {p_value:.3f}")

if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in model performance.")
else:
    print("Fail to reject the null hypothesis: No significant difference in model performance.")

F-statistic: 64.63
P-value: 0.000
Reject the null hypothesis: There is a significant difference in model performance.

## Perform post-hoc analysis if ANOVA is significant on F1 Score

https://personal.utdallas.edu/~herve/abdi-HSD2010-pretty.pdf

In [22]:
# Perform post-hoc analysis if ANOVA is significant
alpha = 0.05
if p_value < alpha:
    from statsmodels.stats.multicomp import pairwise_tukeyhsd

    # Combine all data into a single array
    data = np.concatenate([f1_data['ocular'],
                           f1_data['cloudranger'], 
                           f1_data['dycause'], 
                           f1_data['easyrca'],
                           f1_data['causalrca']
                          ])
    
    N = len(f1_data['cloudranger'])
    # Create group labels for each model
    labels = ['ocular'] * N + ['cloudranger'] * N + ['dycause'] * N + ['easyrca'] * N + ['causalrca'] * N 
    
    # Perform Tukey's HSD post-hoc test
    tukey_result = pairwise_tukeyhsd(data, labels, alpha=alpha)
    
    print("\nTukey's HSD Post-Hoc Test:")
    print(tukey_result)

Tukey's HSD Post-Hoc Test:
     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
   group1      group2   meandiff p-adj   lower   upper  reject
--------------------------------------------------------------
  causalrca cloudranger  -0.4448    0.0 -0.5901 -0.2994   True
  causalrca     dycause  -0.6181    0.0 -0.7634 -0.4727   True
  causalrca     easyrca  -0.2633    0.0 -0.4087  -0.118   True
  causalrca      ocular   0.0957 0.3643 -0.0496  0.2411  False
cloudranger     dycause  -0.1733 0.0109 -0.3186 -0.0279   True
cloudranger     easyrca   0.1815 0.0067  0.0361  0.3268   True
cloudranger      ocular   0.5405    0.0  0.3952  0.6858   True
    dycause     easyrca   0.3548    0.0  0.2094  0.5001   True
    dycause      ocular   0.7138    0.0  0.5684  0.8591   True
    easyrca      ocular    0.359    0.0  0.2137  0.5044   True
--------------------------------------------------------------

meandiff = group2 - group1

negative meandiff means group1 has higher means than group2